.home-background {
    background: url('../images/AnakSMA.png') no-repeat center center;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .content {
    z-index: 1; 
    color: white; 
    text-align: center;
  }

  .button-group {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin-top: 20px; 
  }
  