* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .header h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .section {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .section h3,
  .section p,
  .section blockquote {
    color: #000
  }
  
  .icon {
    font-size: 3em;
    margin-right: 20px;
  }
  
  .content {
    max-width: 900px;
  }
  
  h3 {
    font-size: 1.8em;
    color: #34495e;
    margin-bottom: 15px;
  }
  
  p, blockquote {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
  
      opacity: 1; /* Pastikan opacity penuh */
      color: inherit;
  }
  
  blockquote {
    font-style: italic;
    background-color: #ecf0f1;
    padding: 10px;
    border-left: 5px solid #3498db;
    margin-left: 0;
    margin-right: 0; 
    color: #2c3e50;
    
  }
  
  .activity-container {
    background-color: #e2f3e2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  .activity-container h2 {
    font-size: 2.2em;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .situations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .situation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
  }

  .situation-card:hover {
    transform: translateY(-5px);
  }
  
  .situation-card h3 {
    font-size: 1.5em;
    color: #34495e;
  }
  
  .situation-card p {
    font-size: 1em;
    color: #161616;
  }
  
  @media (max-width: 768px) {
    .situations {
      grid-template-columns: 1fr;
    }
  }
  
  